body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: sans-serif;
    background-color: #535353;
    color: #e0e0e0;
}

header {
    margin-top: 16px;
    margin-bottom: 16px;
}

main {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

a {
    color: magenta;
}

#tile-library {
    flex: 1;
}

#bottom-options-container {
    display: flex;
    gap: 16px;
}

.bottom-options-panel {
    /* min-width: 300px; */
    flex: 1;
}

fieldset {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #282828;
}

#palettes {
    margin-bottom: 8px;
}

.palette-row {
    margin-right: 16px;
}

.pixel {
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.pixel:last-child {
    border-right: none;
}

.pixel-row {
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.pixel-row:last-child .pixel {
    border-bottom: none;
}

#pixels-container.no-grid .pixel {
    border-right: none;
    border-bottom: none;
}

#tile-editor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#tile-editor {
    width: 600px;
    margin: auto;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 1rem;
    border: 1px solid #e0e0e0;
}

.group-title {
    margin-top: -1.5lh;
    margin-bottom: 1.5lh;
    border: 1px solid #e0e0e0;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 16px;
    text-shadow: 1px 1px gray;
    width: fit-content;
}

#pixels-container {
    margin-bottom: 8px;
}

.palette-entry {
    display: inline-block;
    border: 1px solid black;
    background-color: black;
    width: 32px;
    height: 32px;
    margin: 1px;
    padding: 0;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

.palette-entry-selected {
    border: 1px solid red;
}

.palette-entry-unused {
    border: 1px solid yellow;
}

#tile-library-top {
    margin-bottom: 4px;
}

#editor-palette-area {
    vertical-align: middle;
    margin-bottom: 8px;
}

canvas {
    image-rendering: pixelated;
}

#background-container {
    display: inline-block;
    position: relative;
    width: 512px;
    height: 448px;
    overflow: scroll;
}

#background-underlay {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 512px;
    height: 512px;
    background-color: black;
    background-size: 100% 100%;
    image-rendering: pixelated;
    pointer-events: none;
}

#background-canvas {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 512px;
    height: 512px;
    cursor: none;
}

#background-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.tile {
    margin: 4px;
}

.tile.tile-selected {
    margin: 0;
    border: 4px solid red;
}

.tile.tile-highlighted {
    margin: 0;
    border: 4px solid lime;
}

#script-box {
    width: 100%;
}