body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: sans-serif;
    background-color: #535353;
    color: #e0e0e0
}

header {
    margin-top: 16px;
    margin-bottom: 16px;
}

main {
    display: flex;
}

a {
    color: magenta;
}

#tile-library {
    flex: 1;
    margin-right: 20px;
}

#background-editor {
    /* flex: 1; */
}

fieldset {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #282828;
}

#palettes {
    margin-bottom: 8px;
}

.palette-row {
    margin-right: 16px;
}

.pixel {
    cursor: default;
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-user-select: none;
    user-select: none;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
}

.pixel:last-child {
    border-right: none;
}

.pixel-row {
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.pixel-row:last-child .pixel {
    border-bottom: none;
}

#tile-editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#tile-editor {
    width: 600px;
    margin: auto;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 1rem;
    border: 1px solid #e0e0e0;
}

.group-title {
    margin-top: -1.5lh;
    margin-bottom: 1.5lh;
    border: 1px solid #e0e0e0;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 16px;
    text-shadow: 1px 1px gray;
    width: fit-content;
}

#pixels-container {
    margin-bottom: 8px;
}

.palette-entry {
    border: 1px solid #282828;
    background-color: #282828;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

.palette-entry.palette-entry-selected {
    border: 1px solid red;
}

#tile-library-top {
    margin-bottom: 4px;
}

#editor-palette-area {
    vertical-align: middle;
}

#editor-palette-area {
    vertical-align: middle;
    margin-bottom: 8px;
}

canvas {
    image-rendering: pixelated;
}

#background-container {
    display: inline-block;
    position: relative;
}

#background-canvas {
    display: block;
    margin: 0 auto;
    width: 512px;
    height: 448px;
    background-color: black;
    cursor: none;
}

#background-overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 32px;

    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.tile {
    margin: 2px;
    border: 2px solid #282828;
}

.tile.tile-selected {
    border: 2px solid red;
}

.tile.tile-highlighted {
    border: 2px solid white;
}

#script-box {
    width: 100%;
}