body {
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
    background-color: #535353;
    color: #e0e0e0
}

header {
    margin-top: 64px;
    margin-bottom: 16px;
}

main {
    display: flex;
}

#tile-library {
    flex: 1;
}

#background-editor {
    flex: 3;
}

fieldset {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #282828;
}

.pixel {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-user-select: none;
    user-select: none;
}

.pixel-row {
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

#tile-editor-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#tile-editor {
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 1rem;
    border: 1px solid #e0e0e0;
}

.group-title {
    margin-top: -1.5lh;
    margin-bottom: 1.5lh;
    border: 1px solid #e0e0e0;
    background-color: #282828;
    border-radius: 8px;
    padding: 0 16px;
    text-shadow: 1px 1px gray;
    width: fit-content;
}

#pixels-container {
    margin-bottom: 8px;
}

.palette-entry {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
}

.palette-entry-selected {
    border: 1px solid red;
    height: 34px;
}

#editor-palette-area {
    vertical-align: middle;
}

#editor-palette-selector-container {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

canvas {
    image-rendering: pixelated;
}

#background-canvas {
    background-color: black;
    width: 512px;
    height: 512px;
}

.tile {
    margin-right: 4px;
}